* {
  margin: 0px;
  padding: 0px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: 1px solid black;
  gap: 50px;
}

img[src$="jpg"] {
  justify-content: center;
  flex: 1;
  width: 500px;
  height: 50%;
  align-items: center;
}

.images-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 50px 50px 50px 50px;
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 60px;
}





.footer-container {
  margin-top: 200px;
  justify-content: center;
  display: flex;
  gap: 50px;
  padding: 50px;
}

img[src$="png"], img[src$="svg"] {
  width: 80px;
  height: 100%;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 50px;
  font-size: 1.5rem;
  flex: 1;
  color: black;
  font-style: italic;
}